body{
    background-color: #FAF4EE;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
.heading{
    text-align: center;
}
.heading-h{
    font-size: 44px;
    text-decoration: underline;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
.heading-p{
color: #BF762E;
font-size: 24px;
margin: 5px;
}
.image-div{
    background-color: #eaddcf;
    padding: 88px;
    text-align: center;
    color: #716040;
}
.list-of-time{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
    color: #716040;
    
}
.theo{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
li{
    margin-bottom: 15px;
    font-size: 18px;
}
ul{
    margin-bottom: 50px;
}
.quote{
    width: 45%;
    text-align: center;
    color: #716040;
    margin: 0 auto;
}
footer{
    text-align: center;
    margin-top: 30px;
    background-color: #eaddcf;
    color: #716040;
    padding: 20px;
}
a{
    color: #f25042;
}
time{
    font-weight: 700;
}
hr{
    width: 50%;
}
